APP_NAME=Hospital Internment API
ENVIRONMENT=development
DEBUG=true
API_V1_PREFIX=/api/v1
POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_DB=hospital
POSTGRES_USER=hospital
POSTGRES_PASSWORD=hospital_dev_password
DB_ECHO=false
